.users-container {
  width: 50%;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 40px 30px 0px;
  /* align-self: flex-start; */
  /* margin-top: 30px; */
}

.user-card {
  width: 100%;
  display: flex;
  border-radius: 5px;
    padding: 20px;
    margin: 30px 30px;
    box-shadow: 0px 0px 8px 1px gray;
}

.user-image {
  flex: 0.8;
}

.user-details {
  flex: 3;
  margin-top: 20px;
}

.user-edit {
  flex: 0.5;
  align-self: center;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
}

.bi-person-bounding-box {
  font-size: 100px;
}

.user-edit-icon {
  color: blue;
  margin-right: 16px;
  cursor: pointer;
  font-size: 20px;
}

.user-delete-icon {
  color: red;
  margin-right: 0px;
  cursor: pointer;
  font-size: 20px;
}
