.approved,
.cancelled {
  display: flex;
  align-items: center;
  padding: 0px 50px;
}

.approved {
  color: var(--aprrove-color);
}

.cancelled {
  color: var(--text-color);
}

.approve-btn {
  padding: 6px 10px;
  border-radius: 5px;
  color: var(--aprrove-color);
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-right: 10px;
}

.approve-btn:hover {
  background-color: var(--darkgray-color1);
  color: var(--text-color1);
}

.booking-approve-icon,
.booking-cancel-icon {
  margin-left: 10px;
}

