.navbar{
    width: 100%;
    height: 50px;
    box-shadow: 0px 4px 3px #d6cdcd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-heading{
    color: var(--text-color);
    font-size: 20px;
}

.cylinder-icon{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.header{
    display: flex;
    align-items: center;
}

.login-reg-btn{
    display: inline-block;
    background: #2d84df;
    padding: 10px;
    border-radius: 8px;
    margin-right: 15px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}