.banner {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

.banner .carousel {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 40s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
}

@keyframes startCarouselAnimation {
  from {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(0px);
  }
  to {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(500px);
  }
}

.banner .carousel:hover {
  animation-play-state: paused;
}

.banner .carousel .item {
  position: absolute;
  inset: 0 0 0 0;
  animation: startCarouselAnimation 1s linear forwards;
}

.banner .carousel .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s transform;
  cursor: pointer;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.banner:hover .carousel .item img {
  filter: brightness(50%) blur(1px);
  transform: scale(0.95);
}

.banner .carousel .item img:hover {
  filter: brightness(100%) drop-shadow(0 0 15px rgba(255, 255, 200, 0.8));
  transform: scale(1.05);
  z-index: 1;
}
/* media queries */

@media screen and (max-width: 1023px) {
  .banner .carousel {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }

  @keyframes startCarouselAnimation {
    from {
      transform: rotateY(
          calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
        )
        translateZ(0px);
    }
    to {
      transform: rotateY(
          calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
        )
        translateZ(300px);
    }
  }
}
@media screen and (max-width: 767px) {
  .banner .carousel {
    width: 100px;
    height: 150px;
    left: calc(50% - 50px);
  }

  @keyframes startCarouselAnimation {
    from {
      transform: rotateY(
          calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
        )
        translateZ(0px);
    }
    to {
      transform: rotateY(
          calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
        )
        translateZ(180px);
    }
  }
}
