@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --box-shadow-color: #e6adba59;
  --darkgray-color1: darkgray;
  --text-color: #de242b;
  --text-color1: #ffffff;
  --hover-color: #c92228;
  --box-shadow-color1: #d8cece;
  --aprrove-color: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", Verdana, Geneva;
  font-weight: normal;
  /* overflow: hidden; */
}

.container {
  display: flex;
  width: 700px;
  padding: 30px;
  box-shadow: 5px 5px 20px 10px var(--box-shadow-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-outer-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  justify-content: center;
  width: 700px;
  align-items: center;
  margin: 0px auto;
  box-shadow: 0px 0px 20px 2px var(--box-shadow-color1);
}

.main-heading {
  position: absolute;
  color: var(--text-color);
  left: 500px;
  top: 450px;
}

.login-register-form {
  flex: 1;
  padding: 20px 20px 20px 0px;
  text-align: center;
}

.image-container {
  flex: 1;
  text-align: center;
}

.input{
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
    padding: 3px 10px;
    color: var(--text-color);
    font-size: 15px;
    outline: none;
    border: 2px solid var(--box-shadow-color) ;
}

.input:focus{
    border-color: var(--darkgray-color1);
}

.input-icon{
    margin-left: -30px;
    color: var(--darkgray-color1);
}

.btn{
    margin-top: 20px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    background-color: var(--text-color);
    color: var(--text-color1);
    border: none;
}

.btn:hover{
    background-color: var(--hover-color);
}

.item-container {
  display: flex;
}

.item-title {
  font-weight: bolder;
  font-size: 17px;
  width: 200px;
  display: inline-block;
}

.item-value {
  font-size: 15px;
  width: 400px;
  display: inline-block;
}


/* media queries */

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 400px;
  }

  .main img {
    height: 200px;
  }

  .main-heading {
    top: 170px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 280px;
  }

  .main img {
    height: 200px;
  }

  .main-heading {
    top: 180px;
    font-size: 20px;
  }

  .login-heading {
    font-size: 30px;
  }
}
