@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --box-shadow-color: #e6adba59;
  --darkgray-color1: darkgray;
  --text-color: #de242b;
  --text-color1: #ffffff;
  --hover-color: #c92228;
  --box-shadow-color1: #d8cece;
  --aprrove-color: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", Verdana, Geneva;
  font-weight: normal;
  /* overflow: hidden; */
}

.container {
  display: flex;
  width: 700px;
  padding: 30px;
  box-shadow: 5px 5px 20px 10px var(--box-shadow-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.input {
  margin-top: 20px;
  height: 40px;
  border-radius: 20px;
  padding: 3px 40px 3px 10px;
  color: var(--text-color);
  font-size: 15px;
  outline: none;
  border: 2px solid var(--box-shadow-color);
}

.input:focus {
  border-color: var(--darkgray-color1);
}

.input-icon {
  margin-left: -30px;
  color: var(--darkgray-color1);
}

.btn {
  margin-top: 20px;
  height: 40px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  background-color: var(--text-color);
  color: var(--text-color1);
  border: none;
}

.btn:hover {
  background-color: var(--hover-color);
}

.item-container {
  display: flex;
}

.item-title {
  font-weight: bolder;
  font-size: 17px;
  width: 200px;
  display: inline-block;
}

.item-value {
  font-size: 15px;
  width: 400px;
  display: inline-block;
}

.hidden-icon {
  margin-left: -30px;
  visibility: hidden;
}

/* media queries */

@media screen and (max-width: 425px) {
  .input{
    font-size: 12px;
    height: 30px;
  }
} 
