.sidenav-main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidenav-container{
  position: absolute;
  left: 0px;
  top: 40px;
  bottom: 0px;
  width: 0px;
  z-index: 1;
  transform-origin: left;
}

.topnav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  box-shadow: 0px 0px 20px 0px var(----box-shadow);
  background: var(--main-color);
}

.menu-icon {
  color: var(--white-color);
  font-size: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.content-container {
  width: 100%;
  padding: 30px;
  padding-bottom: 60px;
  overflow-y: auto;
  box-sizing: border-box;
  height: 100%; 
  overflow-y: auto; 
}

.logout {
  font-size: 20px;
  color: var(--white-color);
  font-weight: bolder;
  margin-right: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
