.delete-msg-content {
  width: 500px;
  height: 180px;
  background: var(--text-color2);
  padding: 30px;
  border-radius: 10px;
}

.delete-msg-title {
  font-size: 18px;
  font-weight: bolder;
}

.delete-msg {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  color: var(--text-color3);
}

.delmodal-btn-container {
  padding-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

/* media queries */
@media screen and (max-width: 425px) {
  .delete-msg-content {
    width: 90%;
    height: 200px;
  }
}
