.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
  row-gap: 20px;
  text-align: center;
}

.product {
  width: 100%;
  cursor: pointer;
}

.product img {
  width: 70%;
  height: 200px;
}

.product:hover {
  box-shadow: 0px 0px 16px 2px #80808063;
}

@media screen and (max-width: 768px) {
  .products-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 425px) {
  .products-container {
    grid-template-columns: 1fr;
  }
}
