@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --boxshadow-color: #e6adba59;
  --darkgray-color1: darkgray;
  --text-color: #de242b;
  --text-color1: #ffffff;
  --hover-color: #c92228;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", Verdana, Geneva;
  font-weight: normal;
}

.container {
  display: flex;
  width: 700px;
  padding: 30px;
  box-shadow: 5px 5px 20px 10px var(--boxshadow-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main{
  flex: 1;
  display: flex;
  justify-content: center;
}

.main-heading{
  position: absolute;
  color: var(--text-color);
  bottom: 80px;
}

.login-register-form{
  flex: 1;
}

/* media queries */

@media screen and (max-width: 768px){
  .container{
    flex-direction: column;
    width: 400px;
  }

  .main img{
    height: 200px;
  }

  .main-heading{
    top: 170px;
  }
}

@media screen and (max-width: 425px){
  .container{
    width: 280px;
  }

  .main img{
    height: 200px;
  }

  .main-heading{
    top: 180px;
    font-size: 20px;
  }

  .login-heading{
    font-size: 30px;
  }
}
