.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.518);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content{
    width: 400px;
    background: var(--white-color);
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
}

.modal-file-input{
    border: none;
}

.modal-file-input:focus {
  border-bottom: none;
}