.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: var(--modal-wrapper);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 400px;
  height: 600px;
  background: var(--text-color1);
  padding: 20px;
  animation: openModalAnimation 0.5s ease-in;
  transform-style: preserve-3d;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h3 {
  color: var(--main-color);
}

.header span {
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}

.modal-img {
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
  cursor: pointer;
}

.img-desc {
  position: relative;
  padding-left: 24px;
  margin-bottom: 5px;
}

.img-desc::before {
  content: "";
  left: 0;
  top: 6px;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background: var(--main-color);
}

@keyframes openModalAnimation {
  from {
    transform: rotateY(-90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.close-animation {
  animation: closeModalAnimation 0.5s ease-out;
}

@keyframes closeModalAnimation {
  from {
    transform: rotateY(0deg);
    opacity: 1;
  }
  to {
    transform: rotateY(90deg);
    opacity: 0;
  }
}

.start-btn {
  width: 300px;
  height: 80px;
  color: var(--text-color1);
  background: var(--main-color);
  cursor: pointer;
  font-size: 30px;
  border: none;
  outline: none;
  box-shadow: var(--button-box-shadow);
}

.zoom-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: var(--text-color);
  z-index: 102;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoom-modal-content {
  width: 500px;
  height: 500px;
}

.zoomed-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* media queries */

@media screen and (max-width: 425px) {
  .modal-content {
    width: 300px;
    height: 500px;
    padding: 10px;
  }

  .modal-img {
    height: 40%;
  }

  .zoom-modal-content {
    width: 300px;
    height: 300px;
  }

  .start-btn {
    width: 200px;
    height: 80px;
    font-size: 25px;
  }
}
